html {
  font-size: 10px;
  height: 100%;
  min-height: 100%;
}

body {
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
 font-family: 'Poppins', sans-serif!important;
    font-size: 12px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
/*  background-color: #104d89;*/
background-image: linear-gradient(to bottom, #7cdbf2 0%, #fff 100%);;
  border-radius: 4px;
border-color: #ffffff;
  color: #000000;
  padding: 4px 16px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-primary:hover{
      background-color: #e0e0e0;
    background-position: 0 -15px;
}



.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
  background-color: transparent !important;
  color: #104d89 !important;
  border-color: #104d89 !important;
}

.btn-secondary {
  background-color: #6bcff6;
  border-radius: 20px;
  border-color: #6bcff6;
  padding: 8px 16px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:hover {
  background-color: transparent !important;
  color: #6bcff6 !important;
  border-color: #6bcff6 !important;
}

.btn-call {
  background-color: rgba(57, 225, 223, 0.12);
  border-radius: 20px;
  border-color: #1db9aa;
  padding: 8px 16px;
  color: #1db9aa;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-call:focus, .btn-call:active, .btn-call:hover {
  background-color: transparent !important;
  color: #1db9aa !important;
  border-color: #1db9aa !important;
}

.btn-accept {
  background-color: rgba(15, 183, 107, 0.12);
  border-radius: 20px;
  width: 80px;
  border-color: #6bcff6;
  padding: 8px 16px;
  color: #26af48;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-accept:focus, .btn-accept:active, .btn-accept:hover {
  background-color: transparent !important;
  color: #26af48 !important;
  border-color: #1db9aa !important;
}

.btn-cancel {
  background-color: rgba(242, 17, 54, 0.12);
  border-radius: 20px;
  border-color: #e63c3c;
  padding: 8px 16px;
  width: 80px;
  color: #e63c3c;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-cancel:focus, .btn-cancel:active, .btn-cancel:hover {
  background-color: transparent !important;
  color: #e63c3c  !important;
  border-color: #e63c3c  !important;
}

.btn-danger {
  background-color: #EA5455;
  border-radius: 4px;
  border-color: #EA5455;
  padding: 4px 12px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-danger:focus, .btn-danger:active, .btn-danger:hover {
  background-color: transparent !important;
  color: #EA5455 !important;
  border-color: #EA5455 !important;
}

.btn-outline-primary {
  background-color: #fff;
  border-radius: 20px;
  border-color: #104d89;
  color: #104d89;
  padding: 8px 16px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:hover {
  background-color: #104d89 !important;
  color: #fff !important;
  border-color: #104d89 !important;
}

.form-select,
.form-control {
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
  /*background-image: none;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mb-3{
  margin-bottom: 1rem!important;
}


.form-select::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #707070;
}

.form-select:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #707070;
}

.form-select::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #707070;
}

.form-select::placeholder,
.form-control::placeholder {
  color: #707070;
}

.form-select::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #707070;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ed0510;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  right: 2px;
  bottom: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #089bab;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: 12px!important;
    line-height: 1.5;
}
tr td p{
  font-size: 12px!important;
}

td{
  font-size: 12px;
  padding: 8px 16px!important;
}
.text-primary {
  color: #0d6efd!important;
}
.f-18{
 font-size: 18px;
}
th{
   font-size: 12px!important;
    padding: 8px 16px!important;
}
/*.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #7cdbf2;;
    color: var(--bs-table-striped-color);
}*/
.width{
  width: 22%;
}

.pt-1{
  padding-top: 8px;
}
.pt-2{
  padding-top: 16px;
}
.pt-3{
  padding-top: 24px;
}
.pt-4{
  padding-top: 32px;
}
.pt-5{
  padding-top: 40px;
}
.pb-1{
  padding-bottom: 8px;
}
.pb-2{
  padding-bottom: 16px;
}
.pb-3{
  padding-bottom: 24px;
}
.pb-4{
  padding-bottom: 32px;
}
.pb-5{
  padding-bottom: 40px;
}
.mt-1{
  margin-top: 8px;
}

.mt-2{
  margin-top: 16px;
}
.mt-3{
  margin-top: 24px;
}
.mt-4{
  margin-top: 32px;
}
.mt-5{
  margin-top: 40px;
}
.mb-1{
  margin-bottom: 8px;
}

.mb-2{
  margin-bottom: 16px;
}
.mb-3{
  margin-bottom: 24px;
}
.mb-4{
  margin-bottom: 32px;
}
.mb-5{
  margin-bottom: 40px;
}
.float-right{
  float: right;
}



