 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     box-sizing: border-box;
 }
body {
        font-family: 'Poppins', sans-serif!important;
            overflow-x:hidden!important;
            font-size: 14px;
        }

html{
     overflow-x:hidden!important;
}
.pbold{
    font-weight: 600;
}

.f-22{
    font-size: 22px;
}



@media only screen and (max-width:300px){
    .cardbox{
    background-color: #7572FC;
    border-radius: 6px;
    padding: 10px;
    display: block;
    color: #ffffff;
    margin: 3.50%;
 
    float: left;
}
.cardbox h3{
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    text-align: right;
    font-weight: 600;
}
.cardbox .icon{
    font-size: 40px;
    float: left;
}
.cardbox p{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
     text-align: right;
     font-weight: 600;
     margin-bottom: 0px;
}
} 

@media only screen and (min-width:301px){
    .cardbox{
    background-color: #7572FC;
    border-radius: 6px;
    padding: 10px;
    display: block;
    color: #ffffff;
    margin: 15px 0px 10px 0px;
}
.cardbox h3{
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    text-align: right;
    font-weight: 600;
}
.cardbox .icon{
    font-size: 40px;
    float: left;
}
.cardbox p{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
     text-align: right;
     font-weight: 600;
      margin-bottom: 0px;
}
} 


@media only screen and (min-width:350px){

.cardbox h3{
    font-size: 20px;
    line-height: 22px;
}
.cardbox .icon{
    font-size: 40px;
    float: left;
}
.cardbox p{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
     text-align: right;
     font-weight: 600;
      margin-bottom: 0px;
}
} 

@media only screen and (min-width:1200px){
.cardbox h3{
    font-size: 20px;
    line-height: 22px;
}
.cardbox .icon{
    font-size: 40px;
    float: left;
}
.cardbox p{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
     text-align: right;
     font-weight: 600;
      margin-bottom: 0px;
}
} 



