 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     box-sizing: border-box;
 }
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden!important;
    font-size: 14px;
    line-height: 22px;
    color: #838383;
    background-color: #E0E0E0;
    font-weight: 400;
        }
html{
     overflow-x: hidden!important;
}
a{
    text-decoration:none;
}
.form-label{
    color: #0057FF;
    font-weight: 600;
}
.planupgradebg{
    background-image: url(../images/bgimg.jpg);
    background-repeat: no-repeat;
	color: #ffffff;
    height: 400px;
   }
.planupgradebg h3{
	font-size: 25px;
	line-height: 30px;
	font-weight: 600;
}
.planupgradebg .form{
width: 45%;
margin: auto;
background-color: #ffffff;
color: #000000;
padding: 50px 30px;
border-radius: 8px;
}
.plandetail{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.plandetail p{
    color: #b9cec9;
    font-weight: 600;
}
.plandetail p span{
    font-weight: 600;
    color: #000000;
}
.planupgradebg .form h3{

}
.logo {
	padding: 10px;
	margin: auto;
	text-align: center;
}
.logo img{
	width: 220px;
	background-color: #ffffff;
	padding: 10px 40px;
	border-radius: 40px;
}
footer{
   padding: 40px 0px 10px 0px;
    background-color: #457e70;
    background-image: url(https://uploads-ssl.webflow.com/6225e80…/6246d89…_Logo%20large.svg);
    background-position: 100% 0%;
/*    background-size: 37%;*/
    background-repeat: no-repeat;
    color: #fff;
}
footer h3{
   font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}
footer .subscribe{
    background-color: transparent;
    padding: 5px 10px;
    width: 100%;
    border: none;
    color: #ffffff!important;
    border-radius: 0px;
    font-size: 14px;
    border-bottom: 1px solid #cccccc!important;
}
footer .subscribe:focus{
   background-color: transparent;
     color: #ffffff!important;
    border-radius: 0px;
    border-bottom: 1px solid #cccccc!important;
    outline: 0;
    box-shadow:none;
}
footer .subscribe::placeholder {
  color: #b9cec9;
  opacity: 1; /* Firefox */
}
footer .subscribe::-webkit-input-placeholder { /* Edge */
color: #b9cec9;
}
footer .subscribe:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #b9cec9;
}
footer .subscribe::-ms-input-placeholder { /* Microsoft Edge */
color: #b9cec9;
}
footer .subscribe:-moz-placeholder { /* Firefox 18- */
color: #b9cec9;
}
footer .subscribe::-moz-placeholder { /* Firefox 19+ */
  color: #b9cec9;
}
.menu h4{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 28px;
}
.menu ul{
	padding-left: 0px;
}
.menu ul li{
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu ul li a{
    color: #b9cec9;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #ffffff;
    text-decoration: none;
}
.menu p a{
    color: #b9cec9;
}
.txt-grey{
    color: #b9cec9;
}
.social {
    margin-top: 0px;
    padding-top: 0px;
}
.social ul li{
    float: left;
}
.social ul li a{
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    color: #ffffff;
}
.txt-13{
    font-size: 13px;
    line-height: 22px;
     color: #b9cec9;
     font-weight: 500;
     border-top:1px solid #b9cec9;
     border-bottom: 1px solid #b9cec9;
}
.copyright{
    margin-top: 30px;
}
.copyright p span {
    padding: 10px 20px 10px 20px;
    color: #7ba399;
    font-size: 15px;
    font-weight: 500;
}
.startconver h4:after{
    border-right: 2px solid #ffffff;
    width: 90%;
}
.benefitbox{
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid rgba(0, 87, 255, 0.2);
}
.benefitbox p span{
     color: #0057FF;
     font-weight: 600;
     margin-bottom: 0px;
}
.benefitbox p{
     color: #b9cec9;
     font-weight: 600;
       margin-bottom: 0px;
}
.benefitbox img{
    width: 50px;
    margin: auto;
}
.allplan{
     background-color:#fcfcfc;
    min-height: 450px;
    padding:6px;
    margin:auto;
   border:1px solid rgb(201 213 219);
    box-shadow: 5px 7px 9px -4px rgb(158 158 158);
    border-radius: 0px 0px 10px 10px;
    margin-top:10px;
    
}
.offercard{
   background-color: #0057FF;
    color: #ffffff;
    margin-bottom: -13px; 
    margin-left: 0px;
    margin-right: 0px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.offercard p{
    font-size: 12px;
    line-height: 20px;
    padding: 4px 6px;
    margin-bottom: 0px;
    text-align: left;
}

.termscnc{
    background-color:#fcfcfc;
    min-height: 30px;
    padding:6px;
    margin:auto;
    box-shadow: 5px 7px 9px -4px rgb(158 158 158);
    border-radius: 0px 0px 10px 10px;
    margin-left: 0px;
    margin-top: -13px;
    margin-right: 0px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
.termscnc p a{
    font-size: 14px;
    line-height: 20px;
      padding: 4px 6px;
      margin-bottom: 0px;
        text-align: left;
        text-decoration: none;
        color: #000000;
}
.payment-success{
    margin:auto;
    text-align: center;
    padding: 50px 10px;
}
.payment-success h3{
    font-size: 20px;
    color: #15caab;
}
.payment-success img{
    width: 50px;
}
.payment-success p{
    font-size: 14px;
    color: #15caab;
}
.bottomsec{
   background-color: #0057FF;
    color: #ffffff;
    margin-top: -13px; 
    margin-left: 0px;
    margin-right: 0px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bottomsec p{
    font-size: 14px;
    line-height: 20px;
      padding: 2px 6px;
      margin-bottom: 0px;
        text-align: left;
}
.plan ul li{
     color:#000000;
    letter-spacing:0.5px;
    margin-left:13px;
    margin-right:7px;
    padding-bottom:6px;
    font-size:14px;
   text-indent: -10px;
    padding-left:18px;
    list-style-type: none;
}
.plan ul li span{
     color:#0057FF;
     font-weight: 600;

}
.plan ul li:before {
     content: "\f00c";
     font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
   color: #0057FF;
}
.tnc {
            text-decoration: none;
            color: #212121;
            font-size:12px;
            display: block;
            margin-top:10px;
            font-weight:500;
        }
.tnc1 {
            text-decoration: none;
            color: #212121;
            font-size:9px;
            display: block;
            font-weight:500;
            margin-bottom:1px;
        }
.tnc2 {
    text-decoration: none;
    font-size: 12px;
    display: block;
    font-weight: 500;
    margin-bottom: 1px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px!important;
}
.val{
    text-align:right;
    padding-right:10px!important;
    padding-top: 20px;
}
.modal-header{
    background-color: #0057FF;
    color: #ffffff;
}
.payment-success-header{
    background-color: transparent;
    color: #000000;
    border: none;
}

.modal-planupgrade .modal-content {
background-color: #E3FFF7;
}

.modal-planupgrade .modal-content h3{
    font-size: 18px;
    line-height: 28px;
}
.mdl-footer{
    display: block;
    flex-wrap: wrap;
    flex-shrink: 0; 
     align-items: center; 
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    background-color: #0057FF;
    color: #ffffff;

}
.paynow_button{
    background-color: #ffffff;
    color: #0057FF;
    float: right;
    font-weight: 600;
}
.paynow_button:hover{
  background-color: #000000;
  color: #ffffff;
}


.modalpaymentdetail h3{
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.modalpaymentdetail .amountblue{
    color: #0057FF;
    float: right;
}
.modalpaymentdetail .amountred{
    color: #FF3A6A;
    float: right;
}
.upgrade_button{
    background-color: #ffffff;
    border-radius: 4px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #0066FF;
    text-transform: uppercase;
}

.modal-planupgrade .btn-close {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 0.25em 0.25em;
    color: #ffffff;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    border: 0;
    border-radius:0px;
    opacity: .5;
}
