 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     box-sizing: border-box;
 }

body {
   font-family: 'Poppins', sans-serif;
     overflow-x: hidden!important;
            font-size: 14px;
        }
html{
     overflow-x: hidden!important;
}
.top-head{
  background-image: url('../images/top-bg.jpg');
    background-repeat: no-repeat;
    background-position:100%;
    background-origin: border-box;
    background-size: cover;
    min-height: 500px;
}
.top-head h1{
    color: #ffffff;
    padding-top: 150px;
    font-weight: 600;
    font-size: 45px;
}
.whatsapp-btn{
    background-color: #00af87;
    color: #ffffff;
    font-size: 17px;
    border-radius: 4px;
    margin-top: 70px;
    padding: 8px 14px;
}
.plan h2{
    font-size: 30px;
    font-weight: 600;
    color: #6d6e70;
    padding-top: 20px;
}
.plan p{
    font-size: 22px;
     color: #6d6e70;
}
.healthplan{
   background-color: #c1d8f4; 
   box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
   border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
.healthplan h2{
   color:#27569b;
   text-align: center;
   font-size: 30px;
   padding: 12px 8px 12px 8px;
   font-weight: 600;
}
.healthplanbg{
    background-color: #d4e4ff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 

}
.healthplanbg h3{
    font-size: 22px;
     padding: 12px 8px 12px 8px;
   font-weight: 600;
   color: #58585b;
}
.healthplanbg p{
    margin-bottom: 0px;
    font-size: 16px;
     color: #6d6e70;
}
.border1{
    border: 1px solid #000000;
}
.sectionmid h3{
    font-size: 21px;
    color: #27569b;
    font-weight: 600;
    margin-bottom: 1px;
}
.sectionmid img{
    width: 100%;
}
.bdr-bottom{
    border-bottom: 1px solid #000000;
}
.bdr-right{
    border-right: 1px solid #000000;
}







