/*!
* Project Name
* Architecture for a Sass Project
* https://www.sitepoint.com/architecture-sass-project/
* OR
* http://matthewelsom.com/blog/simple-scss-playbook.html
*/
/* placeholder */
html {
  font-size: 14px;
}

body {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #000;
  margin: 0;
}

.custom-container {
  width: 93%;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url("../fonts/Poppins-Thin.eot");
  src: url("../fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff"), url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url("../fonts/Poppins-ExtraLight.eot");
  src: url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../fonts/Poppins-ExtraBold.eot");
  src: url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url("../fonts/Poppins-Black.eot");
  src: url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.patient-health-section .row .patient-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #457e70;
  padding: 8px 13px 8px 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.patient-health-section .row .patient-name .patient-img {
  width: 32px;
}

.patient-health-section .row .patient-name p {
  font-size: 1.3em;
  color: #FFFFFF;
}

.patient-health-section .row .left-card {
  border: 3px solid #457e70;
  border-radius: 15px;
}

.patient-health-section .row .left-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.patient-health-section .row .left-card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.patient-health-section .row .left-card ul li img {
  width: 30px;
  position: relative;
  z-index: 1;
}

.patient-health-section .row .left-card ul li span {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
}

.patient-health-section .row .left-card ul li:last-child {
  margin-bottom: 0;
}

.patient-health-section .row .left-card ul li:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 73px;
  background-color: #b4b1b1;
  top: 0;
  left: 13px;
}

.patient-health-section .row .left-card ul li::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 73px;
  background-color: #b4b1b1;
  top: 0;
  left: 13px;
}

.patient-health-section .row .left-card ul li:last-child::before {
  display: none;
}

.patient-health-section .row .left-card ul li:last-child:after {
  display: none;
}

.patient-health-section .row .right-card {
  background-image: url("../images/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 15px;
  border: 3px solid #457e70;
}

.patient-health-section .patient-health-form {
  text-align: center;
  padding: 10px 10px 50px 10;
}

.patient-health-section .patient-health-form .tab {
  display: none;
  margin-bottom: 25px;
}

.patient-health-section .patient-health-form .tab h2 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1.8em;
  color: #FFFFFF;
  max-width: 800px;
  margin: 60px auto 40px auto;
}

.patient-health-section .patient-health-form .tab .ck-button {
  background-color: #5252a3;
  border-radius: 10px;
  margin: 15px 5px 0 5px;
  overflow: auto;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
          box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
}

.patient-health-section .patient-health-form .tab .ck-button label {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.patient-health-section .patient-health-form .tab .ck-button label span {
  text-align: center;
  font-size: 14px;
  min-width: 150px;
  font-family: "Poppins-Light", sans-serif;
  padding: 10px 15px;
  display: inline-block;
  color: #FFFFFF;
}

.patient-health-section .patient-health-form .tab .ck-button label input {
  position: absolute;
  display: none;
}

.patient-health-section .patient-health-form .tab .ck-button label input:checked + span {
  background-color: #da7422;
  color: #FFFFFF;
}

.patient-health-section .patient-health-form .tab .ck-button:hover {
  background-color: #da7422;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
}

.patient-health-section .patient-health-form #skipButton {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  font-size: 12px;
}

.patient-health-section .patient-health-form .age-tab, .patient-health-section .patient-health-form .height-tab, .patient-health-section .patient-health-form .weight-tab {
  position: relative;
}

.patient-health-section .patient-health-form .age-tab div, .patient-health-section .patient-health-form .height-tab div, .patient-health-section .patient-health-form .weight-tab div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient-health-section .patient-health-form .age-tab #ageDec, .patient-health-section .patient-health-form .age-tab #heightDec, .patient-health-section .patient-health-form .age-tab #weightInc, .patient-health-section .patient-health-form .age-tab #ageInc, .patient-health-section .patient-health-form .age-tab #heightInc, .patient-health-section .patient-health-form .age-tab #weightDec, .patient-health-section .patient-health-form .height-tab #ageDec, .patient-health-section .patient-health-form .height-tab #heightDec, .patient-health-section .patient-health-form .height-tab #weightInc, .patient-health-section .patient-health-form .height-tab #ageInc, .patient-health-section .patient-health-form .height-tab #heightInc, .patient-health-section .patient-health-form .height-tab #weightDec, .patient-health-section .patient-health-form .weight-tab #ageDec, .patient-health-section .patient-health-form .weight-tab #heightDec, .patient-health-section .patient-health-form .weight-tab #weightInc, .patient-health-section .patient-health-form .weight-tab #ageInc, .patient-health-section .patient-health-form .weight-tab #heightInc, .patient-health-section .patient-health-form .weight-tab #weightDec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  cursor: pointer;
  margin: 0 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #7A4EE4;
}

.patient-health-section .patient-health-form .age-tab .sliderRange, .patient-health-section .patient-health-form .height-tab .sliderRange, .patient-health-section .patient-health-form .weight-tab .sliderRange {
  -webkit-appearance: none;
  width: 400px;
  max-width: 400px;
  height: 15px;
  background: #969696;
  outline: none;
  border-radius: 10px;
}

.patient-health-section .patient-health-form .age-tab .sliderRange::-webkit-slider-thumb, .patient-health-section .patient-health-form .height-tab .sliderRange::-webkit-slider-thumb, .patient-health-section .patient-health-form .weight-tab .sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .patient-health-section .patient-health-form .age-tab .sliderRange, .patient-health-section .patient-health-form .height-tab .sliderRange, .patient-health-section .patient-health-form .weight-tab .sliderRange {
    width: 250px;
  }
}

.patient-health-section .patient-health-form .age-tab span, .patient-health-section .patient-health-form .height-tab span, .patient-health-section .patient-health-form .weight-tab span {
  font-size: 22px;
  color: #FFFFFF;
}

.patient-health-section .patient-health-form .successful-tab .done-img img {
  width: 70px;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.patient-health-section .patient-health-form #prevBtn {
  font-family: "Poppins-Light", sans-serif;
  position: absolute;
  left: 10px;
  top: 20px;
  background-color: #FFFFFF;
  border: none;
  padding: 5px 13px;
  border-radius: 6px;
  font-size: 14px;
}

.patient-health-section .patient-health-form #nextBtn {
  font-family: "Poppins-Light", sans-serif;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  border: none;
  width: 180px;
  max-width: 180px;
  padding: 4px 0;
  border-radius: 6px;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .patient-health-section .patient-health-form #nextBtn {
    width: 90px;
  }
  .patient-health-section .patient-health-form .card-bottom-logo {
    width: 90px;
  }
}

.patient-health-section .patient-health-form .gender-tab .select-gender {
  color: #FFFFFF;
}

.patient-health-section .patient-health-form .card-bottom-logo {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-width: 120px;
}

.patient-health-section .patient-health-form .card-bottom-logo img {
  width: 100%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.form-report .report-heading .health-score-text {
  margin: 20px 0;
}

.form-report .report-heading .retake-section .retake-link {
  background-color: #5252a3;
  margin: 0;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
          box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 10px 0px;
  width: 200px;
  max-width: 200px;
  border-radius: 9px;
}

.form-report .report-heading .retake-section .retake-link:hover {
  background-color: #da7422;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
}

.form-report .report-result {
  border: 1px solid #50369a;
  width: 80%;
  padding: 20px;
  max-width: 1050px;
  margin: 20px auto;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-report .report-result .report-result-text {
  text-align: center;
  color: #FFFFFF;
}

.form-report .report-result .report-result-text .report-result-heading {
  margin: 10px 0;
}

.form-report .report-result .report-result-text .score-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-report .report-result .report-result-text .score-level div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px;
}

.form-report .report-result .report-result-text .score-level div img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.form-report .report-result .report-result-text .score-level div .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-report .report-result .report-result-text .score-level div .score p {
  color: #FFFFFF;
}

.form-report .report-result .report-progresBar {
  margin: 10px 0;
}

.form-report .report-result .report-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.form-report .report-result .report-download button {
  border: none;
  border-radius: 8px;
  padding: 9px 0;
  width: 200px;
  max-width: 200px;
  background-color: #5252a3;
  -webkit-box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
          box-shadow: 0px 3px 1px -2px #0d0d0d57, 0px 2px 2px 1px #0d0d0d57, 0px 1px 5px 1px #0d0d0d57;
  color: #fff;
}

.form-report .report-result .report-download .download-btn:hover {
  background-color: #da7422;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
}

@media screen and (max-width: 600px) {
  .form-report .report-result {
    width: 100%;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */