 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     box-sizing: border-box;
 }
body {
        font-family: 'Rubik', sans-serif ;
            overflow-x:hidden!important;
            font-size: 15px;
        }
html{
     overflow-x:hidden!important;
}
