body{
    background-color: transparent;
}

.plancreationhead{
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
   color: #104D89;
   padding-top: 40px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff!important;
    background-color: #104D89!important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-item{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    background-color: #F9F9F9!important;
    border:none!important;
    border-radius: 6px;
}
.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 6px!important;
}
.accordion-button{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 11px 10px 14px 10px!important;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.2)!important;
    text-align: left;
    background-color: #f9f9f9;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-button::after {
    flex-shrink: 0;
    margin-left: auto;
    content: "\f078";
    font-family: "FontAwesome";
     position: absolute;
    top: 14px;
    right: 14px;
    color: #c7c7c7;
    z-index: 1;
    font-weight: 500;
    font-size: 20px;
   background-image: none;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    top: 14px;
    right: 14px;
    color: #ffffff;
    z-index: 1;
    font-weight: 500;
    font-size: 20px;
    background-image: none;
}
.close_button{
    display: flex;
    background-color: #d7e0e8;
    border-radius: 6px;
    color:  #104D89;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 30px;
    margin: 5px;
    border:none;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 7px;
}
.close_button span{
    float: right;
    color: red;
    cursor: pointer;
}
/* .close_button:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: relative;
    top: 0px;
    right: 5px;
    left: 10px;
    color: #6165D7;
    z-index: 1;
} */
.planrefactor .secseprator{
    margin-top: 34px;
}
.planrefactor .form-label{
    font-size: 14px!important;
    font-weight: 600!important;
    color: #000000;
    margin-bottom: 2px;
    margin-top: 10px;
}
.planrefactor .form-check-label{
    font-size: 15px!important;
    font-weight: 600!important;
    color: #000000;
    margin-bottom: 2px;
  }
  .planrefactor .addmore_btn{
    background-color: transparent;
    color: #104D89;
    text-decoration: underline;
    font-size: 14px;
    padding-top: 40px;
  }
.planrefactor .form-select{
    display: block;
    width: 100%;
    padding: 8px 12px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cccccc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
    border: 1px solid rgba(16, 77, 137, 0.1);
}
.planrefactor .form-control{
    border: none;
    border-radius: 4px;
    border: 1px solid rgba(16, 77, 137, 0.1);
    color: #cccccc;
}
.planrefactor .heading{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #104D89;
    padding-top: 25px;
}
.relationbox{
    background-color: #edf0f3;
    margin-top: 35px;
    border-radius: 6px;
}
.planrefactor .communication_box{
    background-color: #ffffff;
    border-radius: 4px;
    margin:10px 0px;
    padding: 10px 0px;
}
.planrefactor .form-check-input:checked {
    background-color: #104D89;
    border-color: #104D89;
}
.planrefactor span img{
    width: 20px;
}
.reset__button{
    background-color: rgba(16, 77, 137, 0.2);
    color: #104D89;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin:15px 5px;
}
.reset__button:hover{
    background-color: rgba(16, 77, 137, 0.2);
    color: #104D89;
}
.savedetail__button{
    background-color: #104D89;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin:15px 2px;
}
.savedetail__button:hover{
    background-color: #104D89;
    color: #ffffff;
}
/* Start  client Master*/

.clientreset__button{
    background-color: #f3f6f9;
    color: #104D89;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin:34px 5px;
}
.clientreset__button:hover{
    background-color: rgba(16, 77, 137, 0.2);
    color: #104D89;
}
.clientsavedetail__button{
    background-color: #104D89;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin:0px 2px 0px 2px;
}
.clientsavedetail__button:hover{
    background-color: #104D89;
    color: #ffffff;
}
.clientapplyfilter__button{
    background-color: #104D89;
    color: #ffffff;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin:34px 2px 0px 2px;
}
.clientapplyfilter__button:hover{
    background-color: #104D89;
    color: #ffffff;
}
.clientgrid{
   display: flex;
  justify-content: space-between;
}
.clientgrid {
    width: 100%;
}
.clientgrid p{
    font-size: 17px;
    font-weight: 700;
}
.clientgrid p a{
    cursor: pointer;
    color: #104D89;
    text-decoration: underline;
}
.clienttbl{
    background-color: #ffffff;
}
.clienttbl thead{
    background-color: #D3DCE6;
    padding: 5px 0px 5px 0px;
}
.clienttbl thead tr th{
    padding: 12px 5px 12px 18px; 
}
.clienttbl tbody tr td{
    color: #99AABC;
    font-size: 14px;
    padding: 12px 5px 12px 18px;
    font-weight: 500;
}
.clienttbl tbody tr td a{
    text-decoration: underline;
    color: #104D89;
}
/*End  Client Master*/
.planrefactor .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #104D89;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}
.planrefactor .testselected{
    background-color:#104D89; 
    color: #ffffff;
   display: flex;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 20px;
    margin: 5px;
    border:none;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 7px;
    cursor: pointer;
}
.planrefactor .testdeselected{
    background-color:#e8eef4; 
    color: #668db4;
   display: flex;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 20px;
    margin: 5px;
    border:none;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 7px;
    cursor: pointer;
}
.labtest {
    background-color: #f5f5f5;
    width: 97%;
    /* margin: 26px 10px 10px 10px; */
    border-radius: 8px;
    padding: 0px 0px;
    min-height: 40px;
    margin-top: 2px;
    margin:auto;
}
.labtest .__testbtn{
    display: flex;
    background-color: #d7e0e8;
    border-radius: 20px;
    color:  #668db4;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 20px;
    margin: 5px;
    border:none;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 7px;
}
.labtest .__testbtn:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: relative;
    top: 0px;
    right: 5px;
    left: 10px;
    color: #668db4;
    z-index: 1;
    cursor: pointer;
} 
.testdetail {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px 0px;
    margin-top: 10px;
}
.testdetail .__testbtn{
  background-color: #d7e0e8;
    border-radius: 20px;
    color:  #668db4;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 30px;
    margin: 5px;
    border:none;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 15px;
}
.testdetail .__testbtn:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: relative;
    top: 0px;
    right: 5px;
    left: 10px;
    color: #668db4;
    z-index: 1;
    cursor: pointer;
} 
.testdetail .scrollbar {
    height: 50px;
    max-width: 300px;
    background: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
    padding: 6px 5px;
}
.testdetail .scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: #008391;
}
.testdetail .scrollbar::-webkit-scrollbar-thumb {
    background-color: #008391;
}
.testdetail .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
}
.planrefactor .addmore__btn {
    background-color: transparent;
    color: #104D89;
    float: right;
    font-size: 14px;
    text-align: center;
    padding: 6px 18px;
    font-weight: 600;
    border: none;
}
.file-upload-wrapper {
  position: relative;
  width: 100%;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  position: absolute;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cccccc;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 2px 15px 8px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  line-height: 30px;
  border-radius: 5px 10px 10px 5px;
}
.file-upload-wrapper:before {
 content: "\f0ee";
 position: absolute;
  font-family: "FontAwesome";
  display: inline-block;
   right: 0px;
  background: #ffffff;
  color: #cccccc;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
  background: #ffffff;
}
.file-upload-wrapper input {
  opacity: 0;
/*position: absolute;*/
  z-index: 99;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
.addmoretop{
    padding-top: 42px;
}
.planrefactor .page-link{
    border: none;
}
.clientmaster{
    background-color: #f9f9f9;
}

.clientmaster .secseprator{
    margin-top: 34px;
}
.clientmaster .form-label{
    font-size: 14px!important;
    font-weight: 600!important;
    color: #000000;
    margin-bottom: 2px;
    margin-top: 10px;
}
.clientmaster .form-check-label{
    font-size: 15px!important;
    font-weight: 600!important;
    color: #000000;
    margin-bottom: 2px;
  }
 .clientmaster .addmore_btn{
    background-color: transparent;
    color: #104D89;
    text-decoration: underline;
    font-size: 14px;
    padding-top: 40px;
  }
.clientmaster .form-select{
    display: block;
    width: 100%;
    padding: 8px 12px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cccccc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
    border: 1px solid rgba(16, 77, 137, 0.1);
}
.clientmaster .form-control {
    border: none; 
    border-radius: 4px;
    border: 1px solid rgba(16, 77, 137, 0.1);
    color: #cccccc!important;
}
.clientmaster .heading{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #104D89;
    padding-top: 25px;
}
.clientmaster .pagination .page-link {
    border: none;   
    color: #99AABC; 
    font-size: 14px;
    font-weight: 600;
}
.clientmaster .pagination .page-item:last-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
    color: #104D89;
    font-size: 14px;
    font-weight: 700;
}
.clientmaster .pagination{
    padding: 2px 2px 2px 2px;
    margin: 30px 0px 50px 0px;
    background-color: #ffffff;
    text-align: center;
}

