@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open sans;
  transition: ease 0.5s;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  font-weight: 300;
}

@media only screen and (max-width: 300px) {
.chatsupportbox{
  max-width: 430px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  box-shadow: #292739 0 5px 10px;
  bottom: 20%;
}
.header {
  background: #0f5fc2;
  display: flex;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.grp-img {
  position: relative;
  width: 125px;
  height: 45px;
}
.grp-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.grp-img .i1 {
  z-index: 1;
}
.grp-img .i2 {
  left: 40px;
}
.grp-img .i3 {
  left: 80px;
}
.grp-info {
  padding: 0 15px;
}
.grp-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #ffffff;
}
.grp-status {
  letter-spacing: 1px;
  color: #ffffff;
}
.chatbox {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatbox .chat {
  display: flex;
  gap: 10px;
}
.chatbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  background-color: #ffffff;
}
.chatbox .msg {
  background: #72ce7c;
  color: #ffffff;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  font-size: 13px;
}
.chatbox p {
  margin-bottom: 1px!important;
}

.msg ion-icon {
  font-size: 20px;
  color: #72ce7c;
  position: absolute;
  top: 10px;
}
.chatbox .chat:nth-child(even) {
  flex-direction: row-reverse;
}
.chatbox .chat:nth-child(odd) ion-icon {
  left: -14px;
}
.chatbox .chat:nth-child(even) ion-icon {
  right: -14px;
  transform: rotate(180deg);
}

.scrollbar {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 6px 5px;
}
.scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: #008391;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #008391;
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
}
}


@media only screen and (min-width: 301px) {
.chatsupportbox{
  max-width: 280px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  box-shadow: #292739 0 5px 10px;
  bottom: 20%;
    right: 0%;
}
.header {
  background: #0f5fc2;
  display: flex;
  padding: 12px;
  border-radius: 10px 10px 0 0;
}
.grp-img {
  position: relative;
  width: 125px;
  height: 45px;
}
.grp-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.grp-img .i1 {
  z-index: 1;
}
.grp-img .i2 {
  left: 40px;
}
.grp-img .i3 {
  left: 80px;
}
.grp-info {
  padding: 0 15px;
}
.grp-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #ffffff;
}
.grp-status {
  letter-spacing: 1px;
  color: #ffffff;
   margin-bottom: 1px;
}
.chatbox {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatbox .chat {
  display: flex;
  gap: 10px;
}
.chatbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  background-color: #ffffff;
}
.chatbox .msg {
  background: #72ce7c;
  color: #ffffff;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  font-size: 13px;
}
.chatbox p {
  margin-bottom: 1px!important;
}

.msg ion-icon {
  font-size: 20px;
  color: #72ce7c;
  position: absolute;
  top: 10px;
}
.chatbox .chat:nth-child(even) {
  flex-direction: row-reverse;
}
.chatbox .chat:nth-child(odd) ion-icon {
  left: -14px;
}
.chatbox .chat:nth-child(even) ion-icon {
  right: -14px;
  transform: rotate(180deg);
}

.scrollbar {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 6px 5px;
}
.scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: #008391;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #008391;
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
}
}

@media only screen and (min-width: 320px) {
.chatsupportbox{
  max-width: 430px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  bottom: 20%;
}
.header {
  padding: 15px;
}
.grp-status {
  margin-bottom: 1px;
}

.chatbox p {
  margin-bottom: 1px!important;
}
.msg ion-icon {
  font-size: 20px;
  color: #72ce7c;
  position: absolute;
  top: 10px;
}
.scrollbar {
    height: 300px; 
   margin-bottom: 10px;
    padding: 6px 5px;
}
}


@media only screen and (min-width: 350px) {
.chatsupportbox{
  max-width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  bottom: 20%;
    right: 3%;
}
.header {
  background: #0f5fc2;
  display: flex;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.grp-img {
  position: relative;
  width: 125px;
  height: 45px;
}
.grp-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.grp-img .i1 {
  z-index: 1;
}
.grp-img .i2 {
  left: 40px;
}
.grp-img .i3 {
  left: 80px;
}
.grp-info {
  padding: 0 15px;
}
.grp-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #ffffff;
}
.grp-status {
  letter-spacing: 1px;
  color: #ffffff;
}
.chatbox {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatbox .chat {
  display: flex;
  gap: 15px;
}
.chatbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  background-color: #ffffff;
}
.chatbox .msg {
  background: #72ce7c;
  color: #ffffff;
  max-width: 80%;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  font-size: 13px;
}
.chatbox p {
  margin-bottom: 1px!important;
}

.msg ion-icon {
  font-size: 20px;
  color: #72ce7c;
  position: absolute;
  top: 10px;
}
.scrollbar {
    height: 350px;
    width: 100%;
   padding: 6px 5px;
}
}


@media only screen and (min-width: 400px) {
.chatsupportbox{
  max-width: 350px;
    right: 9%;
}
.scrollbar {
    height: 300px;   
}
}

@media only screen and (min-width: 450px) {
 .chatsupportbox{
  max-width: 300px;
    right: 10%;
}
.scrollbar {
    height: 300px;
}
}

@media only screen and (min-width: 500px) {
 .chatsupportbox{
  max-width: 320px;
    right: 10%;
}
.scrollbar {
    height: 300px;
}
}



@media only screen and (min-width: 700px) {
 .chatsupportbox{
  max-width: 400px;
  right: 2%;
}
.header {
  padding: 15px;
}
.scrollbar {
    height: 280px;
}
}

@media only screen and (min-width: 800px) {
 .chatsupportbox{
  max-width: 400px;
    right: 2%;
}
.header {
  padding: 15px;
}
.scrollbar {
    height: 280px;
}
}


@media only screen and (min-width: 900px) {
 .chatsupportbox{
  max-width: 400px;
  right: 10%;
}
.header {
  padding: 15px;
}
.scrollbar {
    height: 280px;
}
}

@media only screen and (min-width: 1000px) {
 .chatsupportbox{
  max-width: 400px;
 right: 10%;
}
.header {
  padding: 15px;
}
.scrollbar {
    height: 280px;
}
}


@media only screen and (min-width: 1200px) {
.chatsupportbox{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  right: 2%;
}
.scrollbar {
    height: 390px;
}
}


@media only screen and (min-width: 1300px) {
.chatsupportbox{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  right: 2%;
}
.scrollbar {
    height: 390px;
}
}

